* {
    box-sizing: border-box
}
body {
    background: #f9f9f9
}
.box_one_noborder{
    width: 340px;margin:0 auto;
    border:none;
    border-radius:3px;
    padding: 20px;
    font-family: "微软雅黑";font-size: 14px;
    background: #f9f9f9
}
.box_one{
    width: 340px;margin:0 auto;
    border:1px solid #d8dee2;
    border-radius:3px;
    padding: 20px;
    font-family: "微软雅黑";font-size: 14px;
    background: #ffffff
}
div.logo_title{
  text-align: center;
  margin-top: -10px;
  margin-bottom: 20px;
}
img.logo{
  max-width: 100%;
}
label.text_label{
    display: block;
    margin-bottom: 7px;
}
input.text_box{
    margin-top:5px;
    margin-bottom: 15px;
    display: block;
    width: 100%;
    min-height: 34px;
    padding: 6px 8px;
    font-size: 14px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0px 1px 2px rgba(27,31,35,0.075);
}
a.link{
  float: right;
  text-decoration: none;
}
div.div_login{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20px;
  margin-bottom: 30px;
}
input.button_login{
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: white;
  border-radius: 3px;
  border: none;
  background-color: #4437e2;
  cursor: pointer;
}
.button_login:hover {
  background-color: #3616d3;
  background-repeat: repeat-x;
}

.button_login:active {
  background-color: #3616d3;
}
}

.logo_img {
}
